.callout[data-callout="profile-header"] {
    --callout-padding: 0;
    --callout-icon: none;
    --callout-color: transparent;
    border-left: none;
}

.callout[data-callout="profile-header"] .callout-title {
    display: none;
}

.callout[data-callout="profile-header"] .callout-content {
    display: flex;
    align-items: center;
    gap: 16px;
    background: none;
    padding: 0;
}

.callout[data-callout="profile-header"] .callout-content p:first-child {
    flex-shrink: 0;
}

.callout[data-callout="profile-header"]
    .callout-content
    p:nth-child(2)
    > strong {
    line-height: 1;
    margin-bottom: 2.5%;
    display: inline-block;
    font-size: calc(var(--h1-size) - 4px);
}

.callout[data-callout="profile-header"] .callout-content img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.callout[data-callout="profile-header"] .callout-content p,
.callout[data-callout="profile-header"] .callout-content h1 {
    margin: 0;
}
